html
	head
		title=name
	body
		//information about these values can be found in index.js file
		//for h1, we're just setting the value. no string interpolation here
		h1=name
		a(href=url) URL
		//for this part this is a string, and a value is being inserted
		h2 hello darkness my old friend #{name}
