doctype html
html
	head
		title="hello pug"
	body
		p.greetings#people Hello World!
		div.
			this is how you put text for pug. note the "div." followed by indentation
		
		<!--these are multi lined comments -->
		//example representation of defining attributes.
		div.container.column.main#division(width="100",height="100")
		//this yields `<div class = "container column main" id = "division" width = "100" height = "100"></div>`
